<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e2df1f86-6a2e-4435-93f4-c096c3594f0a/resourcegroups/Challenge-BlipWebApi20241208231055ResourceGroup/providers/Microsoft.Web/sites/Challenge-BlipWebApi20241208231055</ResourceId>
    <ResourceGroup>Challenge-BlipWebApi20241208231055ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/e2df1f86-6a2e-4435-93f4-c096c3594f0a/resourceGroups/Challenge-BlipWebApi20241208231055ResourceGroup/providers/Microsoft.ApiManagement/service/Challenge-BlipWebApiapi/apis/Challenge-BlipWebApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://challenge-blipwebapi20241208231055.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>366662ab-b026-48c7-9d89-fd680a61907f</ProjectGuid>
    <MSDeployServiceURL>challenge-blipwebapi20241208231055.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Challenge-BlipWebApi20241208231055</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Challenge-BlipWebApi20241208231055</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>